<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-body">

            <div class="box-title">
              <form class="form-horizontal" role="form">
                <div class="form-group col-md-6">
                  <label class="col-md-3 ">Client :</label>
                  <div class="col-md-9">
                    <select class="form-control e" n="Client" ng-change="getlistmain(); getcandidatebyclient();"
                      ng-model="myjob.client_detail_id" name="client_detail_id" required>
                      <option value="0">All</option>
                      <option value="{{client.id}}" ng-repeat="client in clientdetails">
                        {{client.billingName}}
                      </option>
                    </select>

                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label class="col-md-3 ">Job List</label>
                  <div class="col-md-9">
                    <select class="form-control e" ng-change="getlistmain()" n="Job" ng-model="myjob.job_id">
                      <option value="0">All</option>
                      <option value="{{job.id}}" ng-repeat="job in jobslistbyclients">
                        {{job.job_title}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label class="col-md-3">Date Start</label>
                  <div class="col-md-9">
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd"
                      data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                      <input class="form-control " ng-change="getlistmain();" size="16" type="text" value="" readonly
                        ng-model="myjob.start_date" placeholder="Start Date">
                      <span class="add-on"><i class="icon-remove"></i></span>
                      <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value="" /><br />


                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-md-3 ">End Date</label>
                  <div class="col-md-9">
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd"
                      data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                      <input class="form-control " ng-change="getlistmain();" size="16" type="text" value="" readonly
                        ng-model="myjob.end_date" placeholder="End Date">
                      <span class="add-on"><i class="icon-remove"></i></span>
                      <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <input type="hidden" id="dtp_input3" value="" /><br />


                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-md-3">Recruiter</label>
                  <div class="col-md-9">
                    <select class="form-control e" ng-change="getlistmain()" n="Owner" ng-model="myjob.manager">
                      <option value="0">All</option>
                      <option value="{{profile.id}}">Self</option>
                      <option value="{{x.id}}" ng-repeat="x in managers">
                        {{x.name}}
                      </option>
                    </select>
                  </div>
                </div>



                <div class="col-md-6 form-group">
                  <div class="col-md-9 col-md-offset-3">

                    <button type="submit" class="btn  btn-raised btn-block btn-primary" tar="#assignCandidate"
                      ng-click="getlistmain()">Search</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">

        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group pull-right">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="showchart" /> Show Chart</label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div ng-show="showchart">
              <div id="clientReport"></div>
              <input type="submit" class="printview btn  btn-raised  btn-sm " value="Print preview" w="1300" h="500"
                tar="#clientReport" style="display: block;margin-bottom: 10px;">

              <div id="clientReportpie"></div>
              <input type="submit" class="printview btn  btn-raised  btn-sm " value="Print preview" w="1300" h="500"
                tar="#clientReportpie" style="display: block;margin-bottom: 10px;">

            </div>

            <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-cellnav ui-grid-exporter
              class="grid"></div>

            <!-- <div ng-include="'views/partialviews/allrecruiterreportpopup.php'"></div> -->
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
