<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="http://passivereferral.com">
                        Visit Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Passive Referral
        </div>
    </div>
</footer>
