<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <button (click)="exportdat()">Export</button>
        <ag-grid-angular
        style="width: 1500px; height: 500px;"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        suppressCsvExport=false
        [autoGroupColumnDef]="autoGroupColumnDef"
      [suppressRowClickSelection]="true"
      [groupSelectsChildren]="true"
      paginationAutoPageSize='true'
      (selectionChanged)="onSelectionChanged($event)"
      [debug]="true"
      [rowSelection]="rowSelection"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [pivotPanelShow]="pivotPanelShow"
      [enableRangeSelection]="true"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
        >
    </ag-grid-angular>
      </div>
    </div>
  </div>
