<div class="main-content">
    <div class="container-fluid">
      <div class="row">

          <div class="alert alert-info col-12" ng-show="clientdetails.length==0">
              <h2>Please Create {{clientsdepartment}}.</h2>
              <span ng-show="mp.page_tracker">To create please <a   href="#/client">click here</a></span>
              <span ng-hide="mp.page_tracker">Please contact your manager</span>
              .
          </div>
          <div class="alert alert-info  col-12" ng-show="trackerlist.length==0">
              <h2>Please Create Tracker.</h2><span ng-show="mp.page_client">To create please <a    href="#/tracker">click here</a></span> 
              <span ng-hide="mp.page_client">Please contact your manager</span>.
          </div>
          <div class=" col-12 bg-default" ng-show="clientdetails.length>0&& trackerlist.length>0"  style="background: #f3f3f3; padding-top: 20px" id="addnewjobform">
  
  
  
              <div class="row">
                  <div class="col-md-12">
                      <div class="" role="form" name="userForm">
                          <div class="form-group col-md-6">
                              <label class="col-md-4 " select>Select a {{clientsdepartment}}:</label>
                              <div class="col-md-8">
                                  <select class="form-control  e"  id="client"   [(ngModel)]="myjob.client_detail_id"    name="client_detail_id" >
                                      <option value="{{client.id}}" *ngFor="let client of clientdetails">
                                          {{client.billingName}}
  
  
                                      </option>
                                  </select>
  
                              </div>
                          </div>
  
                          <div class="form-group  col-md-6">
                              <label class="col-md-4" Manager>Manager:</label>
                              <div class="col-md-8">
                                  <select class="form-control e" n="Select a Manager" id='manager_id' [(ngModel)]="myjob.manager_id"   name="manager_id" >
                                      <option value="{{profile.id}}">Self</option>
                                      <option value="{{manager.id}}" *ngFor="let manager of managers">
                                          {{manager.name}}
                                      </option>
                                  </select>
  
                              </div>
                          </div>
                          <div class="form-group col-md-6">
                              <label class="col-md-4" Manager>Tracker :</label>
                              <div class="col-md-8">
  
                                  <select  class="form-control e" d="" n=" a Tracker" id="tracker" [(ngModel)]="myjob.tracker_id" >
                                      <option value="{{tracker.id}}" *ngFor="let tracker of trackerlist">{{tracker.tracker_name}}</option>
                                  </select>
                              </div>
                          </div>
  
  
  
                          <div class="form-group col-md-6">
                              <label class="col-md-4" Title>Job Title</label>
                              <div class="col-md-8">
  
  
                                  <input type="text"  callback-fn='jobtitlesuggestion()' class="form-control e" n="a Job Title" id="title"   [(ngModel)]="myjob.job_title"  placeholder="title" name="job_title" />
  
                              </div>
                          </div>
                          <div class="form-group col-md-6" ng-show="mp.can_add_skills_for_call">
                              <label class="col-md-4"  Title>Primary Skill</label>
                              <div class="col-md-8">
                                  <input type="text" class="form-control " n="Primary Skill" id="Primary_Skill" [(ngModel)]="myjob.first_skill"  
                                         required/>
  
                              </div>
                          </div>
  
  
                          <div class="form-group col-md-6" ng-show="mp.can_add_skills_for_call">
                              <label class="col-md-4" Title>Secondary Skill</label>
                              <div class="col-md-8">
                                  <input type="text" class="form-control " n="Secondary Skill" id="Secondary_Skill" [(ngModel)]="myjob.second_skill" 
                                         required/>
  
                              </div>
                          </div>
                          <div class="form-group col-md-6" ng-show="mp.can_add_skills_for_call">
                              <label class="col-md-4" Title>Third Skill</label>
                              <div class="col-md-8">
                                  <input type="text" class="form-control " n="Third Skill" id="Third_Skill" [(ngModel)]="myjob.third_skill" 
                                         required/>
  
                              </div>
                          </div>
  
  
                          <h4 class="col-md-12">Salary (Per Annum):</h4>
                     
                              
                              <div class="form-group col-md-6">
                                  <!--<input type="number" min="100000" max="5000000" id="minsalary" step="10000" class="form-control e" validate  n="Minimum Experience" [(ngModel)]="myjob.minimumSalary" name="minimumSalary" placeholder="From (Min 10000)" maxlength="10" />-->
                                  <label class="col-md-4" Title><b>From</b> Lakhs</label>  
                                 <div class="col-md-8"> <select    id="minimumSalaryOption" ng-change="updatemaxsalary()"  class="form-control"  [(ngModel)]="minimumSalarylac" name="minimumSalary"  >
                                      <option *ngFor="let opt of  minimumSalaryOption">{{opt}}</option>
                                     </select></div>
                              </div>
                               <div class="form-group col-md-6">
                                  <!--<input type="number" min="100000" max="5000000" id="minsalary" step="10000" class="form-control e" validate  n="Minimum Experience" [(ngModel)]="myjob.minimumSalary" name="minimumSalary" placeholder="From (Min 10000)" maxlength="10" />-->
                                   <label class="col-md-4" Title>Thousands</label>
                                  <div class="col-md-8"> <select  id="minimumSalaryOptionink" class="form-control" name="minimumSalary"  [(ngModel)]="minimumSalarythousand">
                                      <option *ngFor="let opt of  minimumSalaryOptionink">{{opt}}</option>
                                      </select></div>
                              </div>
                              <div class="form-group col-md-6">
                                  <!--<input type="number"  min="{{myjob.minimumSalary}}" min="100000" id="maxsalary" max="5000000" step="10000"  class="form-control e" validate n="Maximum Experience" [(ngModel)]="myjob.maximumSalary" name="maximumSalary" placeholder="To (Max 5000000)" maxlength="10" />-->
                                  <label class="col-md-4" Title><b>To</b> Lakhs</label>   
                                  <div class="col-md-8"><select    id="maxsalary"   class="form-control " validate n="Maximum salary" [(ngModel)]="maximumSalarylac" name="maximumSalary" >
                                      <option *ngFor="let opt of  maxSalaryOption" help="first select minimum value">{{opt}}</option>
                                      </select></div>
                              </div>
                               <div class="form-group col-md-6">
                                  <!--<input type="number"  min="{{myjob.minimumSalary}}" min="100000" id="maxsalary" max="5000000" step="10000"  class="form-control e" validate n="Maximum Experience" [(ngModel)]="myjob.maximumSalary" name="maximumSalary" placeholder="To (Max 5000000)" maxlength="10" />-->
                                   <label class="col-md-4" Title>Thousands</label>   
                                 <div class="col-md-8">  <select     class="form-control e"   name="maximumSalary" [(ngModel)]="maximumSalarythousand" id="maximumSalarythousand" >
                                      <option *ngFor="let opt of  maximumSalaryOptionink" help='first select minimum value'>{{opt}}</option>
                                     </select></div>
                              </div>
  
   
                          
                             <div class="form-group col-md-6 ">
                              <label class="col-md-4 " Industry>Hide Salary from jobseekers</label>
  
                              <div class="col-md-8"  >
                                  <input type="checkbox" [(ngModel)]='myjob.HideSalaryfromjobseekers'  ng-true-value="'YES'" ng-false-value="'NO'">
                              </div>
  
                          </div>
                          <div class="form-group col-md-6" ng-hide="mp.hide_referral_bonus || profile.disable_crowd_sourcing=='1'">
                              <label class="col-md-4" Referral>Referral Bonus:</label>
                              <div class="col-md-8">
                                  <input type="number"  class="form-control {{mp.hide_referral_bonus || profile.disable_crowd_sourcing=='1'?'':'e'}}" min="2000" id='referralBonus' maxlength="5" validate n="Referral Bonus" [(ngModel)]="myjob.referralBonus" placeholder="Bonus" name="referralBonus" />
  
  
                              </div>
  
                          </div>
                          <h4 class="col-md-12">Experience:(In Years)</h4>
                          <div class="form-group col-md-6"  >
                              <label class="col-md-4" Exprience>From Years</label>
                              <div class="col-md-8" >
  
                                  <select class="form-control e" ng-change="updatemaxexperience()" id="MinimumExperience" validate  n="Minimum Experience" [(ngModel)]="myjob.minimumExperience" name="minimumExperience" >
                                      <option *ngFor="let opt of  minexperience">{{opt}}</option>
                                  </select>
  
                              </div>
                          </div>     <div class="form-group col-md-6"  >
                               <label class="col-md-4" Exprience>To Years</label>
                              <div class="col-md-8">
                                  
                                  <select class="form-control e" id="MaxExperience" validate n="Maximum Experience" [(ngModel)]="myjob.maximumExperience" name="maximumExperience">
                                     <option *ngFor="let opt of  maxexperience">{{opt}}</option>
                                  </select>
  
  
                              </div>
                          </div>
  
                          <div class="form-group col-md-6">
                              <label class="col-md-4" Title>Job Type</label>
                              <div class="col-md-8">
                                  <select class="form-control e" n="Job Type" [(ngModel)]='myjob.jobtype' id="role">
                                      <option id="full" >Full Time</option>
                                      <option id="inter">Internship</option>
                                      <option id="cont" >Contract</option>
                                      <option id="freel">Freelence</option>
  
                                  </select>
  
                              </div>
                          </div>
  
                          <div id="internshipdiv">
                              <div class="form-group col-md-6" >
                                  <label class="col-md-4">Internship duration</label>
                                  <div class="col-md-4">
                                      <select class="form-control  " n="Internship" id="internship"  [(ngModel)]='myjob.internshipduration'>
                                          <option >1</option>
                                          <option >2</option>
                                          <option >3</option>
                                          <option >4</option>
                                          <option >5</option>
                                          <option >6</option>
  
                                      </select>
  
                                  </div>
                                  <div class="col-md-2">
                                      <select class="form-control " n="a Month or Weeks" id="Responsibility" [(ngModel)]='myjob.internshipdurationunit'>
                                          <option  >Month</option>
                                          <option  >Weeks</option>
  
  
                                      </select>
  
                                  </div>
                              </div>
                              <div class="form-group col-md-6" >
                                  <label class="col-md-4">Is Part Time Allowed</label>
                                  <div class="col-md-8">
                                        <mat-radio-group>
                                                <mat-radio-button  [(ngModel)]='myjob.isparttime'  value="yes">Yes</mat-radio-button>
                                                <mat-radio-button  [(ngModel)]='myjob.isparttime' value="no">No</mat-radio-button>
                                            </mat-radio-group>
                                      
  
                                  </div>
  
                              </div>
                          </div>
                          <div id="contract" class="col-md-12">
                              <div class="form-group col-md-6" id="contract">
                                  <label class="col-md-4">Contract Re-newable</label>
                                  <div class="col-md-8">
                                        <mat-radio-group>
                                                <mat-radio-button  [(ngModel)]='myjob.contractrenewable'  value="yes">Yes</mat-radio-button>
                                                <mat-radio-button  [(ngModel)]='myjob.contractrenewable' value="no">No</mat-radio-button>
                                            </mat-radio-group>
                                     
  
                                  </div>
  
                              </div>
                              <div class="form-group col-md-6">
                                  <label class="col-md-2">Contract Duration</label>
                                  <div class="col-md-5">
                                      <select class="form-control " n="a Contract Duration" id="Contract" [(ngModel)]='myjob.contract'>
                                          <option  >1</option>
                                          <option  >2</option>
                                          <option  >3</option>
                                          <option  >4</option>
                                          <option  >5</option>
                                          <option  >6</option>
  
                                      </select>
  
                                  </div>
                                  <div class="col-md-5">
                                      <select class="form-control " n="a Month" id="month" [(ngModel)]='myjob.contractunit'>
                                          <option  >Month</option>
                                          <option  >Weeks</option>
  
  
                                      </select>
  
                                  </div>
                              </div>
                          </div>
                          <div class="form-group col-md-6" id="freelence">
                              <label class="col-md-4">Change Payable</label>
                              <div class="col-md-8">
                                    <mat-radio-group>
                                            <mat-radio-button  [(ngModel)]='myjob.freelancepayable'  value="Hourly">Hourly</mat-radio-button>
                                            <mat-radio-button  [(ngModel)]='myjob.freelancepayable' value="Project-Based">Project-Based</mat-radio-button>
                                        </mat-radio-group>
                                 
                                   
  
                              </div>
  
                          </div>
  
  
                          <div class="form-group col-md-12">
                              <label class="col-md-2" JD>Job Description:</label>
                              <div class="col-md-10">
                                  <textarea class = "form-control" n="Job Description" pp="" id='jobdescription' contenteditable  rows = "5" ck="jd"   [(ngModel)]="myjob.jobDescription"  name="jobDescription" ></textarea>
  
                              </div>
                          </div>
                          <div class="form-group col-md-12">
                              <label class="col-md-2" Title>Job Key Skills</label>
                              <div class="col-md-10">
  
  
                         
                                  <input type="text"  class="form-control hiden" style="display: none;" n="key skill"  id="keySkills" ng-change='getkeyskills()' [(ngModel)]="myjob.keyskills"/>
                                  <div class="row hidden" style="margin-top: 20px;">
                                      <div class="col-md-12" >
  
                                          <span *ngFor="let skill of suggestedkeyskills" style="margin:5px;  padding:8px 12px; display: inline-block;" class="label label-info ">
  
                                              <span ng-click="addSkill($index,skill)" help="Add to skills">{{skill}}</span> <span class="fa fa-close" help="remove" ng-click="deleteSkill($index)"></span>
                                          </span>
  
                                      </div>
                                  </div>
  
                              </div>
                          </div>
  
                          <div class="form-group col-md-12">
                              <label class="col-md-2" Title>
                                  <a class="locinter {{locationtype}} " href="#" ng-click="loadinternationlocation()">International Location</a><a ng-click="loadlocation()" class="loc {{locationtype}}" href="#">Location</a> 
                              </label>
                              <div class="col-md-10">
  
  
  
                                  <select [(ngModel)]="location"  class="form-control" multiple="">
                                      <option *ngFor="let location of locations ">{{location}}</option>
                                  </select>
                              </div>
  
  
                          </div>
  
  
  
  
  
  
  
  
                       
  
                          
                              <div class="form-group col-md-6">
                                  <label class="col-md-4" Industry>Industry</label>
                                  <div class="col-md-8">
                                      
                                      <select class="form-control e" id="Industry" validate  n="a Industry"  [(ngModel)]="myjob.industry" name="industry_id" >
                                          <option *ngFor="let industry of  industries">{{industry.industryName}}</option>
                                      </select>
  
                                  </div>
                              </div>
  
                              <div class="form-group col-md-6">
                                  <label class="col-md-4" Functional>Functional Area</label>
                                  <div class="col-md-8">
                                      
                                      <select class="form-control e"  n="a Functional Area" id="fun"   [(ngModel)]="myjob.functionalArea" ng-change="getrole()"  name="function_id" >
                                          <option *ngFor="let x of functionalareas" >{{x.functionalAreaName}}</option> 
                                      </select>
  
                                  </div>
                              </div>
                              <div class="form-group col-md-6">
                                  <label class="col-md-4" Job_Role>Job Role</label>
                                  <div class="col-md-8">
                                      <select class="form-control " id="Role" validate  n="a Job Role"  name="Job_Role"  [(ngModel)]="myjob.jobRole"  >
                                          <option  *ngFor="let jobrole of  jobroles">{{jobrole.val}}</option>
                                      </select>
  
                                  </div>
                              </div>
                          <div style="clear:both;"></div>
  
                          <div class="form-group col-md-6">
                              <label class="col-md-4" opaning>Number of opening:</label>
                              <div class="col-md-8">
                                  <input type="number"  class="form-control e" id="numberofopening" validate n="Number of opening" [(ngModel)]="myjob.numberOfOpening" name="numberOfOpening" placeholder="opening" />
  
  
  
                              </div>
  
                          </div>
  
  
  
  
                          <div class="form-group col-md-12">
  
  
                              <div class="row"> 
                                  <div class="col-md-6">
                                      <div class="control-group">
                                          <label class=" col-md-4">Job Display From</label>
                                          <div class="controls input-append date form_date col-md-8" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                              <input size="16" type="text" value="" class="e form-control"  id="dob"  n="Start Date " readonly [(ngModel)]="myjob.start_date" >
                                              <span class="add-on"><i class="icon-remove"></i></span>
                                              <span class="add-on"><i class="icon-th"></i></span>
                                          </div>
                                          <input type="hidden" id="dtp_input2" value="" /><br/>
  
                                      </div>
  
                                  </div>
                                  <div class="col-md-6">
                                      <div class="control-group">
                                          <label class="col-md-4">Job Display To</label>
                                          <div class="controls input-append date form_date col-md-8" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                                              <input size="16" type="text" value="" class="e form-control"  id="Dend" validate n="End Date" readonly [(ngModel)]="myjob.end_date">
                                              <span class="add-on"><i class="icon-remove"></i></span>
                                              <span class="add-on"><i class="icon-th"></i></span>
                                          </div>
                                          <input type="hidden" id="dtp_input3" value="" /><br/>
                                      </div>
  
                                  </div>
                              </div>
                          </div>
                          <div class="form-group col-md-6">
                              <label class="col-md-4" JD>Notes</label>
                              <div class="col-md-8">
                                  <textarea class = "form-control e" n="Notes" id="notes"  rows = "3"    [(ngModel)]="myjob.notes"  name="Notes"></textarea>
  
                              </div>
                          </div>
  
  
  
                          <div class="form-group col-md-6" >
                              <label class="col-md-4" >Job Status</label>
                              <div class="col-md-8">
                                  <select class = "form-control e" n="Status"  id="jobstatus" rows = "3"    [(ngModel)]="myjob.job_status"  name="Notes">
                                      <option>Hold</option>
                                      <option>Active</option>
                                      <option ng-if="isjobediting" ng-click='changefilter("Closed")'>Closed</option>
                                  </select>
  
                              </div>
                          </div>
                          <div class="form-group col-md-6" ng-show='mp.btn_take_internal_refeference'>
                              <label class="col-md-4" >Employee Referral</label>
                              <div class="col-md-8">
  
  
  
                                  <div ng-show='departments.length==0' class="alert alert-info">
                                      No Department Added.<span ng-show='mp.page_departments'> <a href="#/departments" class="btn btn-default">Click here</a> to add Department.</span>
                                  </div>
  
                                  <span class="form-check bg-aqua text-blue " *ngFor="let department of departments">
  
  
                                      <input   class="form-check-input" id="exampleCheck{{$index}}"  type="checkbox" [(ngModel)]="department.selected">
                                      <!-- todo text -->
                                      <label for="exampleCheck{{$index}}" class="form-check-label" > {{department.department}}</label>
                                  </span>
  
  
  
  
  
                              </div>
                          </div>
  
  
                          <div class="form-group col-md-6">
  
  
                              
                          </div>
                          <div class="form-group col-md-12">
  
  
                              <div class="col-lg-offset-2 col-md-10">
                                  <button type="submit"  class="btn btn-primary validate"  ng-hide="isjobediting ||jobupdate " tar="#addnewjobform"   ng-click="addNewJobSave(myjob, location, functionalArea)">Save</button>
                                  <div  ng-show="isjobediting">
                                      <button type="submit" class="btn btn-primary validate" tar="#addnewjobform" ng-click="addNewJobupdate()">Save</button>
                                      
                                  </div>
  
                              </div>
                          </div>
                        </div>
                  </div>
  
              </div>
  
          </div>
  
  
          <script type="text/javascript">
  
              $('.form_date').datetimepicker({
                  language: 'fr',
                  weekStart: 1,
                  todayBtn: 1,
                  autoclose: 1,
                  todayHighlight: 1,
                  startView: 2,
                  minView: 2,
                  forceParse: 0
              });
  
  
          </script>
          <script>
              $(function () {
                  $('#internshipdiv').hide();
                  $('#contract').hide();
                  $('#freelence').hide();
                  $('#role').change(function () {
                      if ($('#role').val() == 'Internship') {
                          $('#internshipdiv').show();
                      } else {
                          $('#internshipdiv').hide();
                      }
  
                      if ($('#role').val() == 'Contract') {
                          $('#contract').show();
                      } else {
                          $('#contract').hide();
                      }
  
                      if ($('#role').val() == 'Freelence') {
                          $('#freelence').show();
                      } else {
                          $('#freelence').hide();
                      }
                  });
  
              });
          </script>
  
      </div>
    </div>
  </div>
  