<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Small boxes (Stat box) -->


        <div class="row">

          <app-call  [allids]='allids'></app-call>
          <app-add-to-job [allids]='allids'></app-add-to-job>
          <app-pv-get-reference [allids]='allids'></app-pv-get-reference>

          <div class="col-md-3 " *ngIf="db.mp.btn_take_internal_refeference">
            <button type="button" class="btn btn-block  btn-primary btn-md" data-toggle="modal"
              data-target="#getreferencemodal" title="Get referrence from selected candidates or send mail ">Get
              Reference/Send Mail</button>


          </div>
          <div class="col-md-3" *ngIf="db.mp.add_to_job_store">

            <button type="button" class="btn btn-block  btn-info btn-md" data-toggle="modal" data-target="#addtojob">Add
              to Job</button>



          </div>
          <app-add-candidate></app-add-candidate>
          <div class=" col-md-3 validate">
            <a class="btn btn-default btn-block" href="" data-toggle="modal" help='Add Candidate'
              data-target="#addcandidate" ng-if="mp.candidate_detail_store">
              Add Candidate
            </a>

          </div>
          <div class='col-md-3'>
            <a mat-fab href="javascript:" help='call' data-target='#calldiv' data-toggle='modal'
              ng-if="mp.btn_can_call">
              <i class="fa fa-phone fa-2x"></i>

            </a>
          </div>
        </div>

        <div id="calldiv" class="modal " role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title">Call</h4> <button type="button" class="close"
                  data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="Client" class="control-label col-xs-2">{{clientsdepartment}}:</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Client" ng-change="getcandidatebyclient(true)"
                            [(ngModel)]="copycandidate.client_detail_id" name="client_detail_id" required>
                            <option value="{{x.id}}" *ngFor="let  xof clients">{{x.billingName}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Jobs" class="control-label col-xs-2">Jobs:</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Jobs" [(ngModel)]="copycandidate.job_id">
                            <option value="{{job.id}}" *ngFor="let  jobof jobslistbyclients">
                              {{job.job_title}} ({{job.id}})
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Jobs" class="control-label col-xs-2">Owner</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Owner" [(ngModel)]="copycandidate.manager">
                            <option value="{{profile.id}}">Self</option>
                            <option value="{{x.id}}" *ngFor="let  xof managers">
                              {{x.name}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                          <button type="submit" class="btn btn-primary btn-block" tar="#addjob"
                            (click)="sendcalltocandidates()">Placeof Queue</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        <hr class="hrstye">

        <div class="row">
          <div class="col-2">

            <mat-form-field>
              <mat-select placeholder="Page Size" [(ngModel)]="pageSize" (selectionChange)="loadInternalData()">
                <mat-option *ngFor="let pagesize of pageSizes" [value]="pagesize">
                  {{pagesize}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-2">
            <mat-form-field>
              <mat-select placeholder="Page No" [(ngModel)]="page" (selectionChange)="loadInternalData(true)">
                <mat-option *ngFor="let item of totalpage" [value]='item'>{{item}} </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-8">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Search" type="text" [(ngModel)]="searchText" (change)="loadInternalData()" />
            </mat-form-field>
          </div>

        </div>


        <ag-grid-angular style="height: 500px;" class="ag-theme-material" [rowData]="rowData" [columnDefs]="columnDefs"
          suppressCsvExport=false   [suppressRowClickSelection]="true"
          (rowClicked)="onRowClicked($event)"
          [groupSelectsChildren]="true" (selectionChanged)="onSelectionChanged($event)" [debug]="true"
          [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
          [enableRangeSelection]="true" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
<app-update-candidate [current_data]='currentData'></app-update-candidate>
