mat-slider {
    width: 280px;
  }
  
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
 .rating{
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%,-50%) rotateY(180deg);
	 display: flex;
 }
 .rating input{
	 display: none;
 }

 .rating label{
	 display: block;
	 cursor: pointer;
	 width: 50px;
	 height: 30px;
 }
 .rating label:before{
content: '\f005';
font-family: fontAwesome; 
position: relative;
display: block;
font-size: 30px;
// color: #101010;
// border: 1px solid #101010;
}

.rating label:after{
	content: '\f005';
	font-family: fontAwesome; 
	position: absolute;
	display: block;
	font-size: 30px;
	color: #1f9cff;
	top: 0;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 2px 5px rgba(0,0,0,.5);
	}

	.rating label:hover:after,
	.rating label:hover~ label:after,
	.rating input:checked ~ label:after{
		opacity: 1;

	}
