<div class="main-content">
  <div class="container-fluid" style="width:100%;">


    <div class="row">

      <app-call [allids]='allids'></app-call>
      <app-add-to-job [allids]='allids'></app-add-to-job>
      <app-pv-get-reference [allids]='allids'></app-pv-get-reference>

      <div class="col-md-6 ">

        <div>
          <!--<a class="quick-btn "  href="" data-toggle="modal" help='Add Candidate' data-target="#addcandidate" ng-if="mp.candidate_detail_store">-->
          <!--<div class="col-xs-8">-->
          <div class="row">

            <app-add-candidate></app-add-candidate>
            <div class="col-md-3">
              <a mat-mini-fab class="icousers" href="" data-toggle="modal" help='Add Candidate'
                data-target="#addcandidate" ng-if="mp.candidate_detail_store"><i class="fa fa-users"></i></a>

            </div>
            <div class="col-md-3">
              <a mat-mini-fab href="javascript:" help='Add to Job' data-target='#addtojob' data-toggle='modal'
                *ngIf="mp.add_to_job_store" (click)="loadalert();" class="icouser"><i class="fa fa-user-plus"></i></a></div>
            <div class="col-md-3" *ngIf="db.mp.btn_take_internal_refeference"><a mat-mini-fab href=""
                help='Get Reference' data-toggle="modal" data-target="#getreferencemodal" class="icohandshake"><i
                  class="fa fa-handshake-o"></i></a></div>
            <div class="col-md-3"><a mat-mini-fab href="javascript:" help='call' data-target='#calldiv'
                data-toggle='modal' *ngIf="db.mp.btn_can_call" class="icocall"><i class="fa fa-phone"></i></a></div>
          </div>






        </div>
      </div>

      <!-- <div class="col-md-6">

        <button (click)="exportdat()" class="btn btn-default btn-raised">Export</button>

      </div>-->



      <div class="form-group col-md-6">
        <div class="row">
          <label class="col-md-3">Recruiter</label>
          <div class="col-md-9">
            <ng-select (change)="LoadHistory()" n="Owner" [(ngModel)]="recruiter">
              <ng-option value="{{db.profile.id}}">Self</ng-option>
              <ng-option value="{{x.id}}" *ngFor="let x of managers">
                {{x.name}}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>



      <div class="col-12">

        <div class="row">
          <div class="col-2">
                <button (click)="exportdat()" class="btn btn-raised btn-danger">Export</button>
                </div>
                <div class="col-10">
                <input type="text" class="form-control"(keyup)="filterhistory()" [(ngModel)]="searchcandidatetext"  placeholder="Search..." id = "history">
              </div>
            </div>

      <ag-grid-angular style=" height: 500px;" (rowClicked)="onRowClicked($event)"
      rowSelection='multiple'
        class="ag-theme-material" [rowData]="rowData" [columnDefs]="columnDefs" suppressCsvExport=false
        [suppressRowClickSelection]="true" [groupSelectsChildren]="true" paginationAutoPageSize='true'
        (selectionChanged)="onSelectionChanged($event)" [debug]="true" [enableRangeSelection]="true" [pagination]="true"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular></div>
    </div>
  </div>
  <app-update-candidate [current_data]='currentData'></app-update-candidate>
