<div class="main-content">
  <div class="container-fluid" style="width:100%;">


    <div class="row">
        <button (click)="exportdat()">Export</button>
        <ag-grid-angular
        style="width: 1500px; height: 500px;"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        suppressCsvExport=false
        [autoGroupColumnDef]="autoGroupColumnDef"
      [suppressRowClickSelection]="true"
      [groupSelectsChildren]="true"
      paginationAutoPageSize='true'
      (selectionChanged)="onSelectionChanged($event)"
      [debug]="true"
      [rowSelection]="rowSelection"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [pivotPanelShow]="pivotPanelShow"
      [enableRangeSelection]="true"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
        >
    </ag-grid-angular>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-5 ">
          <div class="text-center">
            <!--<a class="quick-btn "  href="" data-toggle="modal" help='Add Candidate' data-target="#addcandidate" ng-if="mp.candidate_detail_store">-->
            <!--<div class="col-xs-8">-->
            <ul class="social-network social-circle" style="list-style: none;">
              <li>
                <a  mat-mini-fab class="icousers" href="" data-toggle="modal" help='Add Candidate' data-target="#addcandidate"
                  ng-if="mp.candidate_detail_store"><i class="fa fa-users"></i></a>
                </li>
              <li><a  mat-mini-fab href="javascript:" help='Add to Job' data-target='#addToJobs' data-toggle='modal'
                  ng-if="mp.add_to_job_store" class="icouser"><i class="fa fa-user-plus"></i></a></li>
              <li ng-show="mp.btn_take_internal_refeference"><a  mat-mini-fab href="" help='Get Reference' data-toggle="modal"
                  data-target="#myModal-3" class="icohandshake"><i class="fa fa-handshake-o"></i></a></li>
              <li><a  mat-mini-fab href="javascript:" help='call' data-target='#calldiv' data-toggle='modal' ng-if="mp.btn_can_call"
                  class="icocall"><i class="fa fa-phone"></i></a></li>
              <!--<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>-->
            </ul>
            <!--                       </div>-->
            <!--<i class="fa fa-users fa-2x" class="col-md-3"><h5>add candidate</h5></i>-->

            <!--</a>-->
            <!--<a class="quick-btn hidden" href="#" >
                          <i class="fa fa-cloud-download fa-2x"></i>

                          <span class="label label-info">Bulk Import</span>
                      </a> -->
            <!--<a class="quick-btn" href="javascript:"  help='Add to Job' data-target='#addToJobs' data-toggle='modal' ng-if="mp.add_to_job_store" >-->
            <!--<i class="fa fa-user-plus fa-2x"><h5>Add to Job</h5></i>-->

            <!--</a>-->

            <!--<a class="quick-btn"  href="" help='Get Reference' data-toggle="modal" data-target="#myModal-3">-->
            <!--<i class="fa fa-handshake-o fa-2x" class="col-md-3"><h5>Get Reference</h5></i>-->



            <!--</a>-->
            <!--<a class="quick-btn pull-right" href="javascript:" help='call'   data-target='#calldiv' style=' color:red !important; '  data-toggle='modal' ng-if="mp.btn_can_call" >-->
            <!--<i class="fa fa-phone fa-2x"></i>-->
            <!--<span class="label label-info">call</span> -->

            <!--</a>-->




            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-3"
              class="modal fade">
              <div class="modal-dialog" id="getrefer">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Get References</h4>    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>

                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="inputEmail" class="control-label col-xs-2">{{clientsdepartment}}:</label>
                        <div class="col-xs-10">
                          <select class="form-control m-bot15 e" n="Client" ng-change="getcandidatebyclient()"
                            ng-model="myjob.client_detail_id" name="client_detail_id">
                            <option value="{{x.id}}"  *ngFor="let x of clients">{{x.billingName}}</option>

                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword" class="control-label col-xs-2">Jobs:</label>
                        <div class="col-xs-10">
                          <select class="form-control m-bot15 e" n="Job" ng-model="myjob.add_new_job_id"
                            name="add_new_job_id">
                            <option value="{{x.id}}"  *ngFor="let x of jobslistbyclients">{{x.job_title}}</option>

                          </select>
                        </div>
                      </div>

                      <ul class="nav nav-tabs">
                        <li class="active"><a href="" ng-click="smsTabs(0)" data-toggle="tab">SMS<i class="fa"></i></a>
                        </li>
                        <li><a href="" ng-click="smsTabs(1)" data-toggle="tab">Send Mail <i class="fa"></i></a></li>
                      </ul>

                      <div class="tab-content">
                        <div class="tab-pane active" ng-show="tabindex == 0" ng-hide="tabindex != 0" id="info-tab">

                          <div class="form-group">
                            <div class="col-sm-12">

                              <div class="checkbox">
                                <label class="pull-left">
                                  <input type="checkbox" ng-model="sendsms" value="">
                                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                  Send Sms..
                                </label>
                              </div>

                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select class="form-control m-bot15" ng-model="smsselected" ng-change='setsms()'
                                ng-options="x.templatename for x of smsmessagetemplates" name="smsmessagetemplate_id">

                              </select>

                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-sm-12">
                              <textarea class="form-control" ng-model="sms.prmMessagge"
                                style="width: 100%;">{{smsselected.message}}</textarea>

                            </div>
                          </div>
                        </div>
                        <div ng-show="tabindex == 1" ng-hide="tabindex != 1" class="tab-pane active" id="address-tab">


                          <div class="form-group">
                            <div class="col-sm-12">

                              <div class="checkbox">
                                <label class="pull-left">
                                  <input type="checkbox" ng-model="sendemail" value="">
                                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                  Send Mail
                                </label>
                              </div>

                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">

                              <select class="form-control m-bot15" ng-model="emailselected" ng-change='setemail()'
                                ng-options="x.templatename for x of emailmessagetemplates"
                                name="emailmessagetemplate_id">

                              </select>

                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-sm-12">
                              <textarea class="form-control" style="width: 100%;"
                                ng-model="myjob.prmSubject">{{emailselected.title}}</textarea>

                            </div>
                          </div>


                          <div class="form-group">
                            <div class="col-sm-12">
                              <textarea contenteditable class="form-control" style="width: 100%;"
                                ng-model="myjob.prmMessagge">{{emailselected.message}}</textarea>

                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                          <button type="submit" tar="#getrefer" class="btn btn-primary"
                            ng-click="sendMessage()">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Search </span>
              </button>
              <!--                        <ul class="dropdown-menu" role="menu">
                                                      <li><a href="" ng-click="filterdropdownfunction('my_candidates', 'My Candidates')">My Candidates</a></li>
                                                      <li><a href="" ng-click="filterdropdownfunction('my_referrals', 'My referrals')">My referrals</a></li>
                                                      <li><a href="" ng-click="filterdropdownfunction('jobs', 'Jobs')">Jobs</a></li>

                                                  </ul>-->
            </div>

            <input type="text" class="form-control" ng-change="filterhistory()" ng-model="searchcandidatetext"
              placeholder="Search..." id="history">
            <!--                    <span class="input-group-btn">
                          <button class="btn btn-default" ng-click="filterbyJob()" type="button"><span class="glyphicon glyphicon-search"></span></button>
                      </span>-->
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="col-md-3">Recruiter</label>
          <div class="col-md-9">
            <select class="form-control e" ng-change="getCandidateDetails()" n="Owner" ng-model="recruiter">
              <option value="{{db.profile.id}}">Self</option>
              <option value="{{x.id}}"  *ngFor="let x of managers">
                {{x.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="">Total Uniqe Cv : {{totalcv}}</h3>
          <!--                <h3 class="">Email:{{email}}</h3>-->
          <!--<h4 class="">email:{{$histories->email}}</h4>-->
          <div class="checkbox pull-right">
            <label> <input type="checkbox" ng-model="isgroupd" ng-change="changegroup()"> Grouped </label>
          </div>
        </div>
        <div class="col-md-12" style="background:#FFF;">
          <div ui-grid="gridOptions" ui-grid-grouping ui-grid-selection ui-grid-pagination ui-grid-cellnav
            ui-grid-exporter class="grid">
            <button ng-click="exportCsv()">Excel</button>
            <button ng-click="exportPdf()">PDF</button>
          </div>

          <!--                <div ng-include="'views/partialviews/candidate.html'"></div>
                                  <nav aria-label="Page navigation">
                                      <ul class="pagination">
                                          <li class="page-item disabled">
                                              <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                                                  <span aria-hidden="true">&laquo;</span>
                                                  <span class="sr-only">Previous</span>
                                              </a>
                                          </li>
                                          <li class="page-item active">
                                              <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                                          <li class="page-item">
                                              <a class="page-link" href="#" aria-label="Next">
                                                  <span aria-hidden="true">&raquo;</span>
                                                  <span class="sr-only">Next</span>
                                              </a>
                                          </li>
                                      </ul>
                                  </nav>  -->
        </div>
        <!--  <div class="col-md-6" style="background:#d9e0e4;">

                    <ul class="nav nav-tabs">
                        <li class="active"><a show-tab data-toggle="tab" href="#profile">Profile</a></li>
                        <li ><a show-tab  data-toggle="tab" href="#cv">CV</a></li>


                    </ul>


                    <div class="tab-content">
                        <div id="profile" class=" tab-pane fade of active">
                            <div class="container" style="max-width:600px;padding:40px 20px;background:#ebeff2">

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="name" class ="control-label col-sm-4">Full Name</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="name" placeholder="Enter name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class ="control-label col-sm-4">Gender</label>
                                        <div class="col-sm-7">
                                            <div class="radio-inline">
                                                <label class="radio-inline">
                                                    <input type="radio" name="Male">Male
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="Female">Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class ="control-label col-sm-4">Current Organization</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="currentorg" placeholder="Current Organization">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="currentdesignation" class="control-label col-sm-4">Current designation</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="currentdesignation" placeholder="Current designation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="control-label col-sm-4">Email</label>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" id="emailcandidate" placeholder="Enter the Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Mobile" class="control-label col-sm-4">Mobile</label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" id="mobile" placeholder="Enter the Mobile">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="location" class="control-label col-sm-4">Current Location</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="mobile" placeholder="CurrentLocation">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="preferedlocation" class="control-label col-sm-4">Prefered Location</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="preferelocation" placeholder="prefered Location">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="keyskill" class="control-label col-sm-4">Key Skill:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="keyskill" placeholder="Key Skill">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Salary" class="control-label col-sm-4">Salary</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="Salary" placeholder="salary">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Qualification" class="control-label col-sm-4">Qualification</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="Qualification" placeholder="Qualification">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="function" class="control-label col-sm-4">Function</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="Function" placeholder="function">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="industry" class="control-label col-sm-4">Industry</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="Function" placeholder="industry">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DOB" class="control-label col-sm-4">Date of Birth</label>
                                        <div class="col-sm-7">
                                            <input type="date" class="form-control" id="DOB" placeholder="DOB">
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div id="cv" class="tab-pane fade ">
                            <div class="well" style="position: relative;">
                                <iframe  style="border:0;"  src="https://docs.google.com/gview?url=http://api.passivereferral.com/resume/resume.docx&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="800px"></iframe>
    <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;</div>
                            </div>
                        </div>



                    </div>
                </div>-->
      </div>
      <div id="addcandidate" class="modal fade " role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Candidate</h4>   <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

                <div class="col-md-12 ">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="name" class="control-label col-sm-4">Full Name</label>
                      <div class="col-sm-7">
                        <input type="text" ng-model="store.candidateName" class="form-control e" id="name"
                          placeholder="Enter name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="address" class="control-label col-sm-4">Gender</label>
                      <div class="col-sm-7">
                        <div class="radio-inline">
                          <select ng-model="store.gender" class="form-control">
                            <option  *ngFor="let x of genders" value="{{x.id}}">
                              {{x.gender_name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="control-label col-sm-4">Current Organization</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Current Organization"
                          ng-model="store.currentOrganization" id="currentorg" placeholder="Current Organization">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="currentdesignation" class="control-label col-sm-4">Current designation</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Current designation"
                          ng-model="store.currentDesignation" id="currentdesignation" placeholder="Current designation">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="relevantExperiance" class="control-label col-sm-4">Relevant Experiance</label>
                      <div class="col-sm-7">
                        <input type="text" ng-model="store.relevantExperiance" n="Relevant Experiance"
                          id="relevantExperiance" placeholder="Relevant Experiance" class="form-control e" />

                      </div>
                    </div>
                    <div class="form-group">
                      <label for="Qualification" class="control-label col-sm-4">Qualification</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Qualification" ng-model="store.qualification"
                          id="Qualification" placeholder="Qualification">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="control-label col-sm-4">Country</label>
                      <div class="col-sm-7">

                        <select ng-model="store.country" class="form-control">
                          <option  *ngFor="let x of countries" value="{{x.id}}">
                            {{x.name}} ({{x.country_code}})
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="state" class="control-label col-sm-4">State</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="State" ng-model="store.state" id="state"
                          placeholder="state">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="City" class="control-label col-sm-4">City</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="City" ng-model="store.city" id="city"
                          placeholder="city">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="currentLocation" class="control-label col-sm-4">Current Location</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Current Location" ng-model="store.location"
                          id="currentLocation" placeholder="CurrentLocation">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="preferedlocation" class="control-label col-sm-4">Prefered Location</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Prefered Location"
                          ng-model="store.preferredLocation" id="preferedlocation" placeholder="prefered Location">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="Current_Salary" class="control-label col-sm-4">Current Salary</label>
                      <div class="col-sm-7">
                        <input type="number" class="form-control" validate ng-model="store.currentSalary"
                          id="Current_Salary" placeholder="CurrentSalary">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="expectedSalary" class="control-label col-sm-4">Expected Salary</label>
                      <div class="col-sm-7">
                        <input type="number" class="form-control" validate ng-model="store.expectedSalary"
                          id="expectedSalary" placeholder="Expected Salary">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="phoneNo" class="control-label col-sm-4">Phone Number</label>
                      <div class="col-sm-7">
                        <input type="number" class="form-control no" n="Phone Number" ng-model="store.phoneNo"
                          id="phoneNo" placeholder="Phone Number">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="mobileNo" class="control-label col-sm-4">Mobile Number</label>
                      <div class="col-sm-7">
                        <input type="number" class="form-control no" n="Mobile" ng-model="store.mobileNo" id="mobileNo"
                          placeholder="Mobile Number">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="mobileNo" class="control-label col-sm-4">Other Mobile</label>
                      <div class="col-sm-7">
                        <input type="number" class="form-control no" n="Mobile 2" ng-model="store.mobile2" id="mobileNo"
                          placeholder="Mobile 2">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="noticePeriod" class="control-label col-sm-4">Notice Period</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Notice Period" ng-model="store.noticePeriod"
                          id="noticePeriod" placeholder="Notice Period">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="nationality" class="control-label col-sm-4">Nationality</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Nationality" ng-model="store.nationality"
                          id="nationality" placeholder="Nationality">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="visaType" class="control-label col-sm-4">visa Type</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Visa Type" ng-model="store.visaType" id="visaType"
                          placeholder="Visa Type">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="remark" class="control-label col-sm-4">Remark</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Remark" ng-model="store.remark" id="remark"
                          placeholder="Remark">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="ovarallExperiance" class="control-label col-sm-4">Ovarall Experiance</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Ovarall Experiance"
                          ng-model="store.ovarallExperiance" id="ovarallExperiance" placeholder="Ovarall Experiance">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="address" class="control-label col-sm-4">Address</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Address" ng-model="store.address" id="address"
                          placeholder="Address">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="control-label col-sm-4">Email</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control m" n="Email" ng-model="store.email" id="email"
                          placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="panNo" class="control-label col-sm-4">Pan No</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Pan Number" ng-model="store.panNo" id="panNo"
                          placeholder="Pan No">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="industryType" class="control-label col-sm-4">Industry Type</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Industry" ng-model="store.industryType"
                          id="industryType" placeholder="Industry Type">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="functionalArea" class="control-label col-sm-4">Functional Area</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Functional Area" ng-model="store.functionalArea"
                          id="functionalArea" placeholder="functionalArea">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="functionalArea" class="control-label col-sm-4">D.O.B</label>
                      <div class="col-sm-7">
                        <input type="date" ng-model="store.dob" name="contactDurationStart"
                          md-placeholder="Date of Birth" class="form-control" />
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="Key Skills" class="control-label col-sm-4">Key Skills</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control vn" n="Key Skills" ng-model="store.keySkills" id="Salary"
                          placeholder="Key Skills">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="function" class="control-label col-sm-4">Function</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Function" id="Function" placeholder="function">
                      </div>
                    </div>
                    <div class="form-group" ng-hide="true">
                      <label for="source" class="control-label col-sm-4">Source</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control e" n="Source" ng-model="store.source" value="0"
                          id="source" placeholder="Source">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="resume" class="control-label col-sm-4">Resume</label>
                      <div class="col-sm-7">


                      </div>
                    </div>

                    <div class="form-group">

                      <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-success btn-md btn-block validate" tar="#addCandidate"
                          ng-click="candidatesave()">Save</button>
                      </div>
                    </div>

                  </form>
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <div id="addToJobs" class="modal " role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">Add To Jobs</h4> <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">
                  <div class="col-md-12">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="Client" class="control-label col-xs-2">{{clientsdepartment}}:</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Client" ng-change="getcandidatebyclient(true)"
                            ng-model="copycandidate.client_detail_id" name="client_detail_id" required>
                            <option value="{{client.id}}"  *ngFor="let client of clientdetails">
                              {{client.billingName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Jobs" class="control-label col-xs-2">Jobs:</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Jobs" ng-model="copycandidate.job_id">
                            <option value="{{job.id}}"  *ngFor="let job of jobslistbyclients">
                              {{job.job_title}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Jobs" class="control-label col-xs-2">Owner</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Owner" ng-model="copycandidate.manager">
                            <option value="{{db.profile.id}}">Self</option>
                            <option value="{{x.id}}"  *ngFor="let x of managers">
                              {{x.name}}
                            </option>
                          </select>
                        </div>
                      </div>


                      <!--<span value="{{x.id}}"  *ngFor="let x of showdata">{{x.email}}</span>-->


                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                          <button type="submit" class="btn btn-primary btn-block" tar="#addjob"
                            ng-click="addtojobcandidates()">Add</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      <div id="calldiv" class="modal " role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">Call</h4>  <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">
                  <div class="col-md-12">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="Client" class="control-label col-xs-2">{{clientsdepartment}}:</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Client" ng-change="getcandidatebyclient(true)"
                            ng-model="copycandidate.client_detail_id" name="client_detail_id" required>
                            <option value="{{client.id}}"  *ngFor="let client of clientdetails">
                              {{client.billingName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Jobs" class="control-label col-xs-2">Jobs:</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Jobs" ng-model="copycandidate.job_id">
                            <option value="{{job.id}}"  *ngFor="let job of jobslistbyclients">
                              {{job.job_title}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Jobs" class="control-label col-xs-2">Owner</label>
                        <div class="col-xs-8">
                          <select class="form-control e" n="Owner" ng-model="copycandidate.manager">
                            <option value="{{db.profile.id}}">Self</option>
                            <option value="{{x.id}}"  *ngFor="let x of managers">
                              {{x.name}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                          <button type="submit" class="btn btn-primary btn-block" tar="#addjob"
                            ng-click="sendcalltocandidates()">Place of Queue</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

      <!-- /.content -->
      <div class="row hidden">
        <div class="shadwo">
          <div class="col-md-9">
            <h2>Cv Parsed</h2>
          </div>
          <div class="col-md-3">
            <div id="reportrange" class="pull-left"
              style="background: #fff; margin-top:4px; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
              <span></span> <b class="caret "></b>
            </div>
          </div>
          <!--<div class="clearfix"></div>-->
          <div id="chart"></div>
        </div>
      </div>


      <!-- /.content -->
      <div class="row shadwo hidden">
        <div class="">
          <div class="col-md-9">
            <h2>Sms Email</h2>
          </div>
          <div class="col-md-3">
            <div id="smsemailrange" class="pull-left"
              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
              <span></span> <b class="caret "></b>
            </div>
          </div>
          <!--<div class="clearfix"></div>-->
          <div id="smsmail"></div>
        </div>
      </div>

    </div>
  </div>
</div>
