<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <!-- <div class="col-6 offset-md-3">

              <div class="card" style="margin-top:20%;">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Login Here</h4>
                      <p class="card-category">Start Recruitment</p>
                  </div>
                  <div class="card-body" id='loginform'>



                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">

                                  <input matInput placeholder="Username" class="e"  name='username' required [(ngModel)]="loginData.username" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" class="e" name="password" required [(ngModel)]="loginData.password" type="password">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <mat-checkbox [(ngModel)]="loginData.remember" >Remember me!</mat-checkbox>

                          </div>
                      </div>
                      <div class="clearfix" style="margin-top:15px; "></div>
                      <div class="row">
                        <div class="col-md-12">
                      <div [style.display]="showSpinner ? 'block' : 'none'">Submitting</div>
                      </div>


                      </div>
                      <div class="row">
                        <div class="col-md-12">
                      <button mat-raised-button  (click)="login()" color="primary">Login</button>
                          <div class="clearfix"></div>
                        </div></div>

                  </div>
              </div>
          </div> -->

          <div class="container h-100">
              <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                  <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                      <img type="image/png" src="./assets/img/logo2.png" class="brand_logo" alt="Logo">
                    </div>
                  </div>
                  <div class="d-flex justify-content-center form_container">
                    <form >
                      <div class="input-group mb-5">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="material-icons">
                              perm_identity
                              </i>
                              </span>
                        </div>
                        <input placeholder="Username"  name='username' required [(ngModel)]="loginData.username" type="text" class="form-control input_user" value="" ngDefaultControl />
                      </div>
                      <div class="input-group mb-5">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="material-icons">
                              vpn_key
                              </i></span>
                        </div>
                        <input  placeholder="Password" name="password" required [(ngModel)]="loginData.password" type="password" class="form-control input_pass " value="" ngDefaultControl />
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <mat-checkbox [(ngModel)]="loginData.remember" ngDefaultControl>Remember me!</mat-checkbox>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="clearfix" style="margin-top:15px; "></div>
                      <div class="row">
                        <div class="col-md-12">
                      <div [style.display]="showSpinner ? 'block' : 'none'">Submitting</div>
                      </div>


                      </div>
                  <div class="d-flex justify-content-center mt-3 login_container">
                    <input type="submit" name="button" (click)="login()" class="btn login_btn" ngDefaultControl value="Login">
                    <!-- <button type="button" name="button" [hidden]="hidebutton"  (keyup.enter)="login()" class="btn login_btn" ngDefaultControl>Login</button> -->
                  </div>
                  <div class="mt-4">
                    <!-- <div class="d-flex justify-content-center links">
                      Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                    </div> -->
                    <div class="d-flex justify-content-center links">
                      <a href="#" data-toggle="modal" data-target="#myStaticDialog">Forgot your password?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- <div class="md-dialog-container" style="width: 50%; left: 300px;"  id="myStaticDialog">



                  <div class="col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div class="text-center">
                                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                                  <h2 class="text-center">Forgot Password?</h2>
                                  <p>Email/Mobile Number</p>
                                  <div class="panel-body">

                                      <form ng-cloak>
                                          <fieldset>
                                              <div class="form-group">
                                                  <div class="input-group">
                                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                                                      <input type="text" ng-model="fp.emailormobile" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email" aria-invalid="false">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <button type="submit" ng-click="ForgetPassword()" class="btn btn-blue btn-info btn-wd btn-md">Send</button>
                                              </div>
                                          </fieldset>
                                      </form>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>




          </div> -->

          <div id="myStaticDialog" class="modal fade" style="z-index:2000" role="dialog">
            <div class="modal-dialog modal-sm width50percent" >

              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">

                  <!-- <h4 style="margin-left:100px;"></h4> -->
                  <!-- <h4 class="modal-title text-center">Forgot Password</h4> -->
                  <h3 class="text-center" style="margin-left:120px;margin-top:0px;"><i class="fa fa-lock fa-2x">Forgot Password</i></h3>

                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Email/Mobile Number</p>
                  <form ng-cloak>
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                                <input type="text" [(ngModel)]="fp.emailormobile" name="emailormobile" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email" aria-invalid="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" (click)="ForgetPassword();" class="btn btn-blue btn-info btn-wd btn-md">Send</button>
                        </div>
                    </fieldset>
                </form>
                </div>

              </div>



            </div>
          </div>

          <div id="otp" class="modal fade" style="z-index:2000" role="dialog">
              <div class="modal-dialog modal-sm width50percent" >

                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">

                      <h3  style="margin-left:120px;margin-top:0px;"><i class="fa fa-location-arrow fa-2x">OTP</i></h3>
                      <!-- <h2 class="text-center">OTP</h2> -->


                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <p>Enter Otp</p>
                      <form ng-cloak>
                          <fieldset>
                              <div class="form-group">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-share"></i></span>

                                      <input type="text" [(ngModel)]="otp.otp" name="otp" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email" aria-invalid="false" placeholder="OTP">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <button type="submit" (click)="checkotp()"class="btn btn-blue btn-info btn-wd btn-md">Confirm OTP</button>
                              </div>
                          </fieldset>
                      </form>
                  </div>

                </div>



              </div>

          </div>

              <div id="changepassword" class="modal fade" style="z-index:2000" role="dialog">
                  <div class="modal-dialog modal-sm width50percent" >

                    <!-- Modal content -->
                    <div class="modal-content">
                      <div class="modal-header">

                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                                            <h2 class="text-center">Change Password:</h2>


                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                          <!-- <p>Email/Mobile Number</p> -->
                          <form ng-cloak>
                              <fieldset>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <span class="input-group-addon"><i class="fa fa-lock"></i></span>

                                          <input type="password" [(ngModel)]="resetpassword.newpassword" name="newpassword" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email" aria-invalid="false" placeholder="Password">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <span class="input-group-addon"><i class="fa fa-lock"></i></span>

                                          <input type="password" [(ngModel)]="resetpassword.confirmpassword" name="confirmpassword" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email" aria-invalid="false" placeholder="Confirm Password">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <button type="button" (click)="changepasswordFN()"class="btn btn-blue btn-info btn-wd btn-md">Change Password</button>
                                  </div>
                              </fieldset>
                          </form>

                      </div>

                    </div>




                </div>
              </div>

      </div>
  </div>
</div>
