<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addtojob"
class="modal fade">
<div class="modal-dialog" id="client">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">ADD To Job</h4><button aria-hidden="true" data-dismiss="modal" class="close"
        type="button">×</button>
    </div>
    <div class="modal-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="Client" class="control-label col-xs-2">Client:</label>
          <div class="col-xs-10">
            <ng-select class='e' [(ngModel)]="addtojob.client_detail_id" (change)='getcandidatebyclientaddtojob()'>
              <ng-option *ngFor="let x of clients" [value]="x.id"  >{{x.billingName}}</ng-option>

          </ng-select>


          </div>
        </div>
        <div class="form-group">
          <label for="Jobs" class="control-label col-xs-2">Jobs:</label>
          <div class="col-xs-10">
            <ng-select class='e' [(ngModel)]="addnewjob.add_new_job_id"
              name="add_new_job_id">
              <ng-option  [value]="x.id" *ngFor="let  x of jobslistbyclientsaddtojob">{{x.job_title}}
              </ng-option>

            </ng-select>
          </div>
        </div>
        <div class="form-group">
          <label for="Jobs" class="control-label col-xs-2">Owner</label>
          <div class="col-xs-10">
            <ng-select class='e' [(ngModel)]="addnewjob.manager">
              <ng-option [value]="db.profile.id">Self</ng-option>
              <ng-option [value]="x.id" *ngFor="let  x of managers">
                {{x.name}}
              </ng-option>
            </ng-select>
          </div>
        </div>
        <!-- <div class="form-group">
                       <label for="Status" class="control-label col-xs-2">Status:</label>
                       <div class="col-xs-10">
                          <select class="form-control m-bot15">
                                                             <option>Status</option>
                                                             <option>Option 2</option>
                                                             <option>Option 3</option>
                                                         </select>
                       </div>
                   </div>-->
        <div class="form-group">
          <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-block" tar="#client"
              (click)="addtojobcandidates()">Add</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
