<div class="main-content">
    <div class="container-fluid">
        <Button class="btn btn-primary" (click)="showhide() || back();"> Add Tracker Field</Button>

          <div *ngIf="ishideshow" class="width100percent">
        <div class="col-md-12">


            <div class="card">
                <div class="card-header card-header-danger ">
                    <h4 class="card-title">Tracker Detail</h4>
                    <p class="card-category">Add or Edit Trackers</p>
                    </div>
                <div class="row" id="trackermaster">
                    <div class="bs-example col-md-12"  id="messagetemp">
                        <div class="form-horizontal"  id="trackertemp">
                            <div class="form-group" >
                                <label for="" class="control-label col-md-2">Job Specific: <span help='this is customized job data, which could be different in each job' class="badge">?</span></label>
                                <div class="col-md-6">
                                    <div class="checkbox ">
                                        <mat-checkbox  [(ngModel)] ="newtracker.is_job_specific" (ngModelChange)="newtracker.is_job_specific = $event ? 1:0" > </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Display Name:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control e" id="dname"  n="Display_Name" [(ngModel)]="newtracker.display_name">
                                </div>
                            </div>

                            <div class="form-group" >
                                <label for="" class="control-label col-md-2">Db Name:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control e" id="dbname" n="DB Name" [(ngModel)]="newtracker.db_name">
                                </div>
                            </div>



                            <div class="form-group">
                                <div class=" col-xs-offset-2 col-xs-10 row justify-content-center">
                                    <button type="submit" class="btn  btn-raised btn-primary validate" tar="#trackermaster" *ngIf="!isEdit" (click)="newtrackersave()">Save</button>
                                    <button type="button" class="btn  btn-raised btn-primary" tar="#channel" *ngIf="isEdit" (click)="newtrackerupdate()">Update</button>
                                    <button type="button" class="btn  btn-raised btn-primary" tar="#channel" *ngIf="isEdit" (click)="back()">New Deatil</button>
                                </div>
                            </div>






                          </div>
                    </div>
                </div>

        </div>
        </div>
      </div>

        <ag-grid-angular
        style="height: 500px;"
        class="ag-theme-material"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        suppressCsvExport=false

      [suppressRowClickSelection]="true"
      [groupSelectsChildren]="true"
      paginationAutoPageSize='true'
      (selectionChanged)="onSelectionChanged($event)"
      [debug]="true"
      [rowSelection]="rowSelection"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [pivotPanelShow]="pivotPanelShow"
      [enableRangeSelection]="true"
      [pagination]="true"
      (gridReady)="onGridReady($event)"

      (rowClicked)="onRowClicked($event)"
        ></ag-grid-angular>



    </div>
  </div>
