<div class="modal fade" role="dialog" id="commentstatus">


  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title text-danger ">Comment/Status </h4> <button aria-hidden="true" data-dismiss="modal"
          class="close" type="button">×</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="form-horizontal" role="form" name="userForm">
            <div class="form-group" *ngIf="showowner">
              <label for="inputEmail" class="">Owner</label>
              <div class="">
                <ng-select n="Owner" [(ngModel)]="commentstatus.recruiterid">
                  <ng-option [value]="db.profile.id">Self</ng-option>
                  <ng-option [value]="manager.id" *ngFor="let manager of managers">
                    {{manager.name}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="" select="">Status:</label>
              <div class="" style="width:100%;">
                <select id="purpose" class="form-control" (change)="purposechange()" [(ngModel)]="commentstatus.status"
                  name="client_detail_id">
                  <option selected="" value="{{currentstatusid}}">{{currentstatusname}}</option>
                  <option value="{{x.id}}" [attr.isinterview]="x.isinterview" *ngFor="let x of statuses">
                    {{x.DisplayName}}
                  </option>

                </select>
                <label ng-show="mp.btn_show_all_status"></label>


              </div>
              <div class="col-12">

                <mat-checkbox (change)="comment()" [(ngModel)]="allstatus">Override Status</mat-checkbox>
              </div>
              <div class="col-12">


                <mat-checkbox [(ngModel)]="commentstatus.noemailset">No email/sms to candidate</mat-checkbox>

              </div>
            </div>


            <div id="business" style="display:none;">
              <div class="form-group">
                <label class="col-md-3 col-sm-offset-2">Date</label>
                <div class="col-md-4">

                  <div class="input-group date" id="datetimepicker1">
                    <input type="text" ng-model="commentstatus.date" class="form-control">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <!--                                                <md-datepicker ng-model="commentstatus.date" md-placeholder="Enter date"></md-datepicker>-->

                </div>

              </div>

              <div class="form-group">
                <label class="col-md-3 col-sm-offset-2">Location</label>
                <div class="col-md-4">

                  <input type="text" class="form-control" ng-model="commentstatus.location" placeholder="Location">



                </div>

              </div>

              <div class="form-group">
                <label class="col-md-3 col-sm-offset-2">Contact Person</label>
                <div class="col-md-4">

                  <input type="text" class="form-control" ng-model="commentstatus.contactperson"
                    placeholder="Contact Person">



                </div>

              </div>
              <div class="form-group">
                <label class="col-md-3 col-sm-offset-2">Interviewer</label>
                <div class="col-md-4">

                  <input type="text" class="form-control" ng-model="commentstatus.Interviewer"
                    placeholder="Interviewer">



                </div>

              </div>
              <div class="form-group">
                <label class="col-md-3 col-sm-offset-2">Mode of Interview</label>
                <div class="col-md-4">

                  <input type="text" class="form-control" ng-model="commentstatus.modeofinterview"
                    placeholder="Mode of Interview" >

                </div>

              </div>

              <label class="col-md-3 col-sm-offset-5">Interview Question</label>
              <div class="col-md-12">

                <textarea class="form-control" ng-model="commentstatus.interviewquestion" style="width: 100%"
                  contenteditable=""></textarea>

              </div>

            </div>



            <div class="form-group">
              <label class="col-md-12" referral="">Comment :</label>
              <div class="col-md-12">
                <textarea class="form-control" [(ngModel)]="commentstatus.comment" placeholder="Comment"
                  required=""></textarea>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn  btn-raised btn-block btn-primary"
                (click)="updatestatuscommentmyjob()">Update</button>
            </div>
          </div>


        </div>

        <div class="clearfix"></div>
      </div>


    </div>
  </div>

</div>
