<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">

        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group pull-right">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="showchart" /> Show Chart</label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div >
              <div class="chartclass" id="clientReport"></div>
              <div class="chartclass" id="clientReportpie"></div>
            </div>

            <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-cellnav ui-grid-exporter
              class="grid"></div>

            <!-- <div ng-include="'views/partialviews/allrecruiterreportpopup.php'"></div> -->

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
