<div class="main-content">
    <div class="container-fluid">
        <Button class="btn btn-primary" (click)="showhide() || back();"> Add new message template</Button>

      <div class="row">
        <div *ngIf="ishideshow" class="width100percent">


        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Message Templates</h4>
                    <p class="card-category">Add or Edit Message Templates</p>
                    </div>

            <div class="bs-example center" id="messagetemp">


                    <div class="form-group">
                        <label for="" class="control-label col-md-2">Template Type</label>
                        <div class="col-md-6">
                            <select class="form-control e" id="temp" n="SMS/Email" [(ngModel)]="message.templateType">
                                <option>SMS</option>
                                <option>Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-md-2">Template Area</label>
                        <div class="col-md-6">
                            <select class="form-control e" id="Template" n="area" [(ngModel)]="message.templatearea">
                                <option>For Reference</option>
                                <option value="cs" >Candidate Status</option>
                                <option value="rs" ng-if="profile.app_id=='6'">Referrer Status</option>
                                <option value="job_status">Job Status</option>
                                <option value="misc">Misc.</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="titile" class="control-label col-md-2">Template Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control e" n="Template Name" [(ngModel)]="message.templatename" id="titile" >
                        </div>
                    </div>
                    <div class="form-group" *ngIf="message.templateType==='Email'">
                        <label for="titile" class="control-label col-md-2">Subject</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" n="Subject" [(ngModel)]="message.title" id="titile" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="titile" class="control-label col-md-2">Message</label>
                        <div class="col-md-6">
                            <b class="text-danger">Please use lowercase for key between #valuetoreplace# otherwise value will not be replaced.</b>

                            <ckeditor [editor]="Editor" data="message.message" [(ngModel)]="message.message"></ckeditor>

                        </div>
                    </div>




                    <div class="form-group">
                        <div class=" col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn  btn-raised btn-primary " tar="#messagetemp" *ngIf="!isEdit" (click)="messagesave()">Save</button>
                            <button type="button" class="btn  btn-raised btn-primary" tar="#messagetemp" *ngIf="isEdit" (click)="messageupdate()">Update</button>
                            <button type="button" class="btn  btn-raised btn-primary" tar="#messagetemp" *ngIf="isEdit" (click)="back()">Back</button>
                        </div>
                    </div>






            </div>
            </div>
        </div>
</div>
<ag-grid-angular
style="height: 500px;"
class="ag-theme-material"
[rowData]="rowData"
[columnDefs]="columnDefs"
suppressCsvExport=false
[autoGroupColumnDef]="autoGroupColumnDef"
[suppressRowClickSelection]="true"
[groupSelectsChildren]="true"
paginationAutoPageSize='true'
(selectionChanged)="onSelectionChanged($event)"
[debug]="true"
[rowSelection]="rowSelection"
[rowGroupPanelShow]="rowGroupPanelShow"
[pivotPanelShow]="pivotPanelShow"
[enableRangeSelection]="true"
[pagination]="true"
(gridReady)="onGridReady($event)"

(rowClicked)="onRowClicked($event)"
></ag-grid-angular>
      </div>
    </div>
  </div>
