.buttonwithnumber button{ margin-right: 35px; margin-bottom: 15px;}
.mat-badge-content{width: 30px;}
.shareparent a{ margin:3px  5px;}
.sharediv { margin-top: 5px;}
.callbutton { margin-left: 72%;}
.test {
  background-color: green;
}
.redClass
{ background-color: rgb(27, 160, 9) ;}
