<div class="logo">
  <a href="#" class="simple-text">
    <div class="logo-img " hidden='ture'>
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Passive Referral
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="#pablo">
          <i class="material-icons">dashboard</i>
          <p>
            <span class="d-lg-none d-md-block">Stats</span>
          </p>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="material-icons">notifications</i>
          <span class="notification">5</span>
          <p>
            <span class="d-lg-none d-md-block">Some Actions</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Mike John responded to your email</a>
          <a class="dropdown-item" href="#">You have 5 new tasks</a>
          <a class="dropdown-item" href="#">You're now friend with Andrew</a>
          <a class="dropdown-item" href="#">Another Notification</a>
          <a class="dropdown-item" href="#">Another One</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pablo">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Account</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">

    <li routerLinkActive="active" class=" nav-item">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <i class="material-icons">dashboard</i>
        <p>Dashboard
        </p>
      </a>
    </li>
    <li routerLinkActive="active" class=" nav-item">
      <a class="nav-link" [routerLink]="['/internaldatabase']">
        <i class="material-icons">perm_data_setting
          </i>
        <p>Internal Database
        </p>
      </a>
    </li>


    <li routerLinkActive="active" class=" nav-item">
      <a class="nav-link" [routerLink]="['/history']">
        <i class="material-icons">history</i>
        <p>History
        </p>
      </a>
    </li>


    <li routerLinkActive="active" class=" nav-item">
      <a class="nav-link" [routerLink]="['/call-detail']">
        <i class="material-icons">contact_phone</i>
        <p>Call Detail
        </p>
      </a>
    </li>
    <li class="nav-item" routerlinkactive="active">
      <a class="nav-link" data-toggle="collapse" href="#jobs"><i class="material-icons">group_add</i>
        <p>Jobs<b class="caret"></b></p>
      </a>

      <div class="collapse" id="jobs">
        <ul class="nav">

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/myjob']"><span
                class="sidebar-normal">myjob</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/newjob']">
              <span class="sidebar-normal">New Job</span></a></li>

        </ul>
      </div>
    </li>
    <li class="nav-item" routerlinkactive="active">
      <a class="nav-link" data-toggle="collapse" href="#reports"><i class="material-icons">insert_chart</i>
        <p>Report<b class="caret"></b></p>
      </a>

      <div class="collapse" id="reports">
        <ul class="nav">

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/clientreport']"><span
                class="sidebar-normal">Client Report</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/recruiterreportnew']">
              <span class="sidebar-normal">Recruiter Report </span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link"
              [routerLink]="['/recruiter-report-newhistory']">
              <span class="sidebar-normal">Recruiter Report history</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/jobwise']">
              <span class="sidebar-normal">Job Wise Report</span></a></li>

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/client-report-full']">
              <span class="sidebar-normal">Client Report Full </span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link"
              [routerLink]="['/openingclientwise']">
              <span class="sidebar-normal">Opening Client Wise</span></a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" routerlinkactive="active">
      <a class="nav-link" data-toggle="collapse" href="#settings"><i class="material-icons">settings_applications</i>
        <p>Settings<b class="caret"></b></p>
      </a>

      <div class="collapse" id="settings">
        <ul class="nav">

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/smtpdetails']"><span
                class="sidebar-normal">Smtp Detail</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/candidatestatusupdate']">
              <span class="sidebar-normal">Candidate Status Update</span></a></li>

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/messagetemplate']">
              <span class="sidebar-normal">Message Templates</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/client']">
              <span class="sidebar-normal">Client</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/newtracker']">
              <span class="sidebar-normal">Add New Tracker</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/trackers']">
              <span class="sidebar-normal">Tracker Fields</span></a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" hidden='true' routerlinkactive="active">
      <a class="nav-link" data-toggle="collapse" href="#Logs"><i class="material-icons">image</i>
        <p>Logs<b class="caret"></b></p>
      </a>

      <div class="collapse" id="Logs">
        <ul class="nav">

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/messagelog']"><span
                class="sidebar-normal">Message Log</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/smslog']">
              <span class="sidebar-normal">SMS log</span></a></li>


        </ul>
      </div>
    </li>
    <li class="nav-item" routerlinkactive="active">
      <a class="nav-link" data-toggle="collapse" href="#EmployeeReference"><i class="material-icons">mobile_screen_share</i>
        <p>Employee Reference<b class="caret"></b></p>
      </a>

      <div class="collapse" id="EmployeeReference">
        <ul class="nav">

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/department']"><span
                class="sidebar-normal">Departments</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/employeeemail']">
              <span class="sidebar-normal">Employee Email</span></a></li>


        </ul>
      </div>
    </li>

    <li class="nav-item" routerlinkactive="active">
      <a class="nav-link" data-toggle="collapse" href="#Users"><i class="material-icons">supervised_user_circle</i>
        <p>Users<b class="caret"></b></p>
      </a>

      <div class="collapse" id="Users">
        <ul class="nav">

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/users']"><span
                class="sidebar-normal">User</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/channel']">
              <span class="sidebar-normal">Channel</span></a></li>


        </ul>
      </div>
    </li>
    <li class="nav-item" routerlinkactive="active">
      <a class="nav-link" data-toggle="collapse" href="#Billing"><i class="material-icons">money</i>
        <p>Billing<b class="caret"></b></p>
      </a>

      <div class="collapse" id="Billing">
        <ul class="nav">

          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/billing']"><span
                class="sidebar-normal">Billing</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/billing-detail']">
              <span class="sidebar-normal">Billing Details</span></a></li>


        </ul>
      </div>
    </li>
    <li routerLinkActive="active" class=" nav-item">
      <a class="nav-link" [routerLink]="['/user-profile']">
        <i class="material-icons">person_pin</i>
        <p>Profile
        </p>
      </a>
    </li>
    <li routerLinkActive="active" class=" nav-item">
      <a class="nav-link" [routerLink]="['/logout']">
        <i class="material-icons">360</i>
        <p>Log Out
        </p>
      </a>
    </li>
    <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]" href="{{menuItem.href}}">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}

        </p>
      </a>
    </li> -->
    <li class="nav-item d-none" routerlinkactive="active">
      <!---->
      <!----><a class="nav-link" data-toggle="collapse" href="#pages"><i class="material-icons">image</i>
        <p>Pages<b class="caret"></b></p>
      </a>
      <!---->
      <div class="collapse" id="pages">
        <ul class="nav">
          <!---->
          <li class="nav-item" routerlinkactive="active"><a class="nav-link" [routerLink]="['/dashboard']"><span
                class="sidebar-normal">Dashboard</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link"
              href="/material-dashboard-pro-angular2/pages/timeline"><span class="sidebar-mini">TP</span><span
                class="sidebar-normal">Timeline Page</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link"
              href="/material-dashboard-pro-angular2/pages/login"><span class="sidebar-mini">LP</span><span
                class="sidebar-normal">Login Page</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link"
              href="/material-dashboard-pro-angular2/pages/register"><span class="sidebar-mini">RP</span><span
                class="sidebar-normal">Register Page</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link"
              href="/material-dashboard-pro-angular2/pages/lock"><span class="sidebar-mini">LSP</span><span
                class="sidebar-normal">Lock Screen Page</span></a></li>
          <li class="nav-item" routerlinkactive="active"><a class="nav-link"
              href="/material-dashboard-pro-angular2/pages/user"><span class="sidebar-mini">UP</span><span
                class="sidebar-normal">User Page</span></a></li>
        </ul>
      </div>
    </li>

  </ul>
</div>
