<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="hide">{{db.profile.is_send_auto_email_reference}}</div>
      <div class="col-lg-3 col-md-6 col-sm-6" data-target="#internaldata" data-toggle="modal">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Browse</p>
            <h3 class="card-title">Cv
              <small>Bank</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="internaldatabase">Your Database</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" (click)="navigateUrl('history')">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">History</p>
            <h3 class="card-title">Browse</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Candiate Browsed
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" (click)="navigateUrl('myjob')">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">My Jobs</p>
            <h3 class="card-title">Job List</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i>Your Jobs
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" (click)="navigateUrl('billing')">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-money"></i>
            </div>
            <p class="card-category">Billing</p>
            <h3 class="card-title">Go</h3>
          </div>
          <div class="card-footer">
            <div class="stats">

              <i class="material-icons">money</i> Money
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">New Reference</span>
                <ul class="nav nav-tabs d-none" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">bug_report</i> A
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                      <i class="material-icons">code</i> B
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                      <i class="material-icons">cloud</i> C
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" style='height:500px; overflow:auto; display: block !important;' id="profile">
                <table class="table">
                  <tbody>

                    <tr *ngFor="let x of notification" title="{{x.difference}} hour(s)">
                      <td>
                        <div class="form-check d-none">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <a href="#" data-toggle="modal" data-target="#showreference" (click)="loadreferrence(x.job_id)"
                          class="Bold"> {{x.Job_title}}</a> <i class="fa fa-star text-danger"
                          ng-show="x.difference>72"></i> ->
                        <span style="color:gray; text-decoration: underline;"
                          (click)="candidateshow(x)">{{x.reference_name}}</span>
                        <span class="pull-right"> (<i>{{x.date}}</i>)</span> </td>
                      <td class="td-actions text-right d-none">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="messages">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check d-none">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept
                        through metro Detroit
                      </td>
                      <td class="td-actions text-right d-none">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Sign contract for "What are conference organizers afraid of?"</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="settings">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept
                        through metro Detroit
                      </td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>Sign contract for "What are conference organizers afraid of?"</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12" ng-if="db.mp.referenceall">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Reference </h4>
            <p class="card-category">Referrence (All :{{in_process_referrals.length}} , <span
                title="Last Action more than 30 days" style="color: red;"> <i class="fa fa-ambulance"></i> :
                {{notification_very_danger}}</span>, <span title="Last Action between 15 to 30 days"
                class="text-danger"><i class="fa fa-wheelchair"></i> : {{notification_danger}}</span>, <span
                title="On Time" class="text-success"><i class="fa fa-heart"></i> : {{notification_success}}</span>,
              <span title="Last Action between 5 to 15 days" class="text-warning"><i class="fa fa-stethoscope"></i> :
                {{notification_warning}}</span>)</p>
          </div>
          <div class="card-body table-responsive" style="height: 500px;">
            <table class="table table-hover">

              <tbody>
                <tr *ngFor="let in_process_referral of in_process_referrals">
                  <td class="referral">
                    <h4 class="">{{in_process_referral.Last_action}} (Gap : {{in_process_referral.diff}} Days) <b
                        class="pull-right text-"><i class="fa  fa- "></i></b></h4>

                    <h5 style="width:98%;">{{in_process_referral.job_title}} ({{in_process_referral.client_name}})</h5>
                    <span style="width:98%;" (click)="candidateshow(in_process_referral.id)"
                      class="highlight link">{{in_process_referral.candidateName}}
                      ({{in_process_referral.currentDesignation}})</span>
                    <span class="highlight">{{in_process_referral.mobileNo}}</span>
                    <span class="highlight">{{in_process_referral.email}}</span>
                    <span>Recruiter : {{in_process_referral.Recruiter}}</span>
                    <span>Referrer : {{in_process_referral.referrer_name}}</span>
                    <span>Total Action : {{in_process_referral.total_action}}</span>
                    <span>Last Action Date : {{in_process_referral.last_action_date}}</span>
                    <button class="link highlight btn btn-raised btn-sm btn-info" data-target="#activity"
                      data-toggle="modal" (click)="activity(in_process_referral)">View Activity</button>

                    <button class="link highlight btn btn-raised btn-sm btn-success" target="#commentstatus"
                      data-toggle="modal" (click)="onCommentClick(in_process_referral)">Change Status</button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12" *ngIf="db.mp.dashboard_interview">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Interview </h4>
            <p class="card-category">Comming Interview</p>
          </div>
          <div class="card-body" style="height: 500px;">
            No Data
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12" ng-if="db.mp.dashboard_suggestion">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Suggestion </h4>
            <p class="card-category">On Tagged job</p>
          </div>
          <div class="card-body table-responsive" style="height: 500px;">
            No Suggestion
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <h4 class="card-title">Cv Parsed </h4>
          <p class="card-category">Cv Parsed Report</p>
        </div>
        <div class="card-body">


<div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput [(ngModel)]="start_date_temp" [matDatepicker]="picker" placeholder="Choose a date"
                class="e">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput [(ngModel)]="end_date_temp" [matDatepicker]="picker2" placeholder="Choose a date"
                class="e">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <button (click)="loadcvparse()" class="btn-raised btn btn-dark">GO</button>
          </div>


          <div class="col-md-12">

            <div class="clearfix"></div>
            <div id="chart" class="charthw"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="internaldata" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Browse Candidate</h4> <button type="button" class="close"
              data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body bg-default">
            <div class="row">
              <div class="col-md-6 col-xs-6">
                <a href="javascript:" (click)="navigateUrl('internaldatabase')"
                  class="btn btn-block  btn-raised btn-sq-lg btn-success">
                  <i class="fa fa-globe fa-3x"></i><br />
                  Database
                  <!--<div class="info-box">-->
                  <!--<span class="info-box-icon bg-aqua"><i class="fa fa-globe"></i></span>-->

                  <!--<div class="info-box-content">-->

                  <!--<span class="info-box-number">Internaldata</span>-->
                  <!--</div>-->
                  <!-- /.info-box-content -->
                  <!--</div>-->
                </a>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-6 col-xs-6" ng-hide='profile.channel_id==null'>
                <p> <a href="javascript:" data-toggle="modal" (click)="naukriclick('https://recruit.naukri.com')"
                    data-target="#ndiv" class="btn  btn-block btn-raised btn-sq-lg btn-primary">
                    <!--<div class="info-box">-->
                    <!--<span class="info-box-icon bg-red"><i class="fa fa-calendar"></i></span>-->

                    <!--<div class="info-box-content">-->
                    <i class="fa fa-calendar fa-3x"></i><br />
                    Naukri.com
                    <!--<span class="info-box-number">Naukri.com</span>-->


                    <!--</div>-->

                    <!--</div>-->
                  </a></p>



              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xs-6" ng-hide='profile.channel_id==null'>
                <a href="javascript:" data-toggle="modal" (click)="naukriclick('https://hire.timesjobs.com/')"
                  data-target="#ndiv" class="btn btn-block  btn-raised btn-sq-lg btn-info">
                  <i class="fa fa-link fa-3x"></i><br />
                  Times
                  <!--<div class="info-box">-->
                  <!--<span class="info-box-icon bg-red"><i class="fa fa-link"></i></span>-->

                  <!--<div class="info-box-content">-->

                  <!--<span class="info-box-number">Times</span>-->


                  <!--</div>-->

                  <!--</div>-->
                </a>



              </div>

              <div class="col-md-6 col-xs-6" ng-hide='profile.channel_id==null'>
                <a href="javascript:" data-toggle="modal" class="btn  btn-block btn-raised btn-sq-lg btn-warning"
                  (click)="naukriclick('https://recruiter.shine.com/')" data-target="#ndiv">
                  <i class="fa fa-link fa-3x"></i><br />
                  <span> Shine</span>
                  <!--<div class="info-box">-->
                  <!--<span class="info-box-icon bg-aqua"><i class="fa fa-link"></i></span>-->

                  <!--<div class="info-box-content">-->

                  <!--<span class="info-box-number">Shine</span>-->


                  <!--</div>-->

                  <!--</div>-->
                </a>



              </div>



              <div class="col-md-6 col-sm-6 d-none" ng-show='profile.channel_id==null'>
                <a href="javascript:">
                  <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-external-link "></i></span>

                    <div class="info-box-content">

                      <span class="info-box-number"><i class="fa fa-exclamation-triangle"></i> No channel. </span>


                    </div>

                  </div>
                </a>



              </div>



            </div>

            <div class="clearfix visible-sm-block"></div>
            <div class="row d-none">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="#">
                  <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

                    <div class="info-box-content">

                      <span class="info-box-number">Monster.com</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                </a>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="#">
                  <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-user-plus"></i></span>

                    <div class="info-box-content">

                      <span class="info-box-number">LinkedIn</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                </a>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->

            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn  btn-block btn-raised btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="ndiv" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">

            <a id="loginnaukri_stop" href="#" target="">
              Browse
            </a> <button type="button" class="close" data-dismiss="modal">&times;</button>

          </div>
          <div class="modal-body">
            <div class="col-md-12 col-sm-6 col-xs-12" ng-if="db.mp.option_to_send_email">
              <div class="form-group">


                <mat-form-field>
                  <mat-select [(ngModel)]="setjobandreferencetemp.current_job_id" placeholder="Select Job">

                    <mat-option value="{{job.id}}" *ngFor="let  job of jobslistforref">{{job.job_title}}
                      ({{job.id}})({{job.ClientName}}) </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="clearfix"
                *ngIf="profile.disable_crowd_sourcing!='1' &&(setjobandreferencetemp.reference_email_template_id=='0' || setjobandreferencetemp.reference_sms_template_id=='0')">
                <div class="form-group ">
                  <select [(ngModel)]="setjobandreferencetemp.reference_email_template_id"
                    title="Email Template for reference" class="form-control">
                    <option value="0">Select Email Template</option>
                    <option value="{{emailtedb.mp.id}}" *ngFor="let emailtemp of emailmessagetemplatesforref">
                      {{emailtedb.mp.templatename}}</option>

                  </select>
                </div>

                <div class="form-group">
                  <select [(ngModel)]="setjobandreferencetemp.reference_sms_template_id"
                    title="Sms Template for reference" class="form-control">
                    <option value="0">Select SMS Template</option>
                    <option value="{{smstedb.mp.id}}" *ngFor="let smstemp of smsmessagetemplatesforref">
                      {{smstedb.mp.templatename}}</option>

                  </select></div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="modal-footer">

            <div class="checkbox" ng-show="profile.disable_crowd_sourcing!='1'">
              <mat-checkbox [(ngModel)]="setjobandreferencetemp.is_send_auto_email_reference_temp">Enable #Crowdsourcing (All
                integrated job partal)</mat-checkbox>


            </div>



            <a (click)="setjobandreferencetempmpfunction()"
              helps="Please check : Proper job/Templates selected or not for reference"
              class="btn  btn-raised btn-info  de" href="{{jobportalurl}}" target="_blank">
              GO</a>
          </div>
        </div>

      </div>
    </div>
    <div class="modal fade" id="showreference" role="dialog">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Reference</h4>
              </div>
              <div class="modal-body">
               <!-- <p>This is a large modal.</p> -->
                  <div>
                      <div ui-grid="notificationjobs" ui-grid-selection ui-grid-pagination  ui-grid-cellnav ui-grid-exporter class="grid"></div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default  btn-raised" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

    <div class="row d-none">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily Sales</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Email Subscriptions</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Completed Tasks</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>




    </div>

  </div>
</div>
<app-update-candidate [current_data]='currentData'></app-update-candidate>
<app-activity [activities]="activities"></app-activity>

<app-update-status [allstatusload]='allstatusload' [set_status_row]='status_row'></app-update-status>
