<div class="main-content">
    <div class="container-fluid">
        <button class="btn btn-primary" (click)="visible()||back();" value="show grid">Add SMTP Details</button>
      <div class="row">

        <div *ngIf="isvisible" class="width100percent">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Smtp Details</h4>
                    <p class="card-category">Add or Edit Smtp Details</p>
                    </div>
            <div class='col-md-12' id="smtpid" ><h2><span *ngIf="isEdit">Edit</span><span *ngIf="!isEdit">Add</span>  Smtp Detail</h2><div class='row'><div class='col-md-6'><div class="form-group ">
                <label for="smttpype">Smtp Type</label>
                <select  class="form-control e"   [(ngModel)]="smtp.smtptype" id="smttpype" placeholder="Smttpype">
                    <option>Gmail</option>
                    <option>Yahoo</option>
                    <option>Rediff</option>
                    <option>Other</option>
                </select>

            </div>
            </div><div class='col-md-6'  ng-show="smtp.smtptype=='Other'" ><div class="form-group ">
                <label for="smtpname">Incoming Server</label>
                <input  class="form-control e"  n=" Smtp Detail" validate maxlength='200'[(ngModel)]="smtp.smtpname" id="smtpname" placeholder="Smtpname"/>
            </div>
            </div></div><div class='row'><div class='col-md-6'><div class="form-group ">
                <label for="user_name">User Name</label>
                <input type="text"  maxlength='50' class="form-control e"  n="User Name" id="user" [(ngModel)]="smtp.user_name" id="user_name" placeholder="User Name">

            </div>
            </div><div class='col-md-6'  ><div class="form-group ">
                <label for="password">Password</label>
                <input type="password"  class="form-control e"  n="Password" id="password" maxlength='255' [(ngModel)]="smtp.password" id="password" placeholder="Password"/>

            </div>
            </div>

            <div class='col-md-6'  ><div class="form-group ">
                <label for="Port">Port</label>
                <input type="text"  class="form-control e"  n="Port" id="Port" maxlength='255' [(ngModel)]="smtp.port" placeholder="Port"/>

            </div>
            </div>
            </div>  <div class="form-group">
            <div class=" col-md-10">
            <button type="submit" class="btn  btn-raised btn-primary validate" tar="#smtpsave"  *ngIf="!isEdit" (click)="smtpsave()">Save</button>
            <button type="button" class="btn  btn-raised btn-primary" *ngIf="isEdit" (click)="smtpupdate()">Update</button>
            <button type="button" class="btn  btn-raised btn-primary" *ngIf="isEdit" (click)="back()">Add New</button>
            </div>
            </div>
            </div>

            </div>




          </div>
          <ag-grid-angular
          style="height: 500px;"
          class="ag-theme-material"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          suppressCsvExport=false
          [autoGroupColumnDef]="autoGroupColumnDef"
        [suppressRowClickSelection]="true"
        [groupSelectsChildren]="true"
        paginationAutoPageSize='true'
        (selectionChanged)="onSelectionChanged($event)"
        [debug]="true"
        [rowSelection]="rowSelection"
        [rowGroupPanelShow]="rowGroupPanelShow"
        [pivotPanelShow]="pivotPanelShow"
        [enableRangeSelection]="true"
        [pagination]="true"
        (gridReady)="onGridReady($event)"

        (rowClicked)="onRowClicked($event)"
          ></ag-grid-angular>

</div>
</div>
</div>
